<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>小宇情感地图</title>
  <style>
    html,
    body {
      overflow: hidden;
      margin: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    #box {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
  </style>
</head>

<body>
  <div id="map" style="width: 70%; float: left;">
  </div>
  <div id="box" style="width: 30%; float: right;">
    <div style="height: 60%;">
      <div style="width: 342px; float: left;">
        <img src="{{ url_for('static', filename='images/13_35_13_170.jpg') }}" alt="" id="street_img">
      </div>
      <div style="width: 300px; height: 100%; position: absolute;">
        <div style="width: 100%; margin: 10px 10%;">名称：<label id="name"></label></div>
        <div style="width: 80%; margin: 10px 10%;">美丽：<label id="beautiful"></label></div>
        <div style="width: 80%; margin: 10px 10%;">无聊：<label id="boring"></label></div>
        <div style="width: 80%; margin: 10px 10%;">压抑：<label id="depressing"></label></div>
        <div style="width: 80%; margin: 10px 10%;">活力：<label id="lively"></label></div>
        <div style="width: 80%; margin: 10px 10%;">安全：<label id="safety"></label></div>
        <div style="width: 80%; margin: 10px 10%;">富裕：<label id="wealthy"></label></div>
      </div>
    </div>
    <div id="street_scores" style="height: 40%; width: 100%;">
      <div id="container" />
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/g2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/data-set.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/l7.js') }}"></script>
  <script>

    var oVideo = document.getElementById('videoSource');

    const scene = new L7.Scene({
      id: 'map',
      map: new L7.GaodeMap({
        style: 'light',
        center: [114.4058144, 30.50854269], // 光谷
        pitch: 60,
        zoom: 16,
        token: '高德地图token',
      }),
    });

    const { DataView } = DataSet;
    var radar_data;
    var index = 0;
    var dv;
    var chart;
    var old_image_name = '13_35_13_170'
    fetch("{{ url_for('static', filename='data/光谷老校区/scores.json') }}")
      .then(res => res.json())
      .then(data => {
        radar_data = data;
        dv = new DataView().source(data[0]);
        dv.transform({
          type: 'fold',
          fields: ['阿宇'], // 展开字段集
          key: 'user', // key字段
          value: 'score' // value字段
        });
        chart = new G2.Chart({
          container: 'container',
          forceFit: true,
          height: 350,
          padding: [20, 20, 95, 20]
        });
        chart.source(dv, {
          score: {
            min: 0,
            max: 100
          }
        });
        chart.coord('polar', {
          radius: 0.8
        });
        chart.axis('item', {
          line: null,
          tickLine: null,
          grid: {
            lineStyle: {
              lineDash: null
            },
            hideFirstLine: false
          }
        });
        chart.axis('score', {
          tickCount: 3,
          line: null,
          tickLine: null,
          grid: {
            type: 'polygon',
            lineStyle: {
              lineDash: null
            }
          }
        });
        chart.line().position('item*score').color('user')
          .size(1);
        chart.area().position('item*score').color('user');
        chart.render();
      })

    var point_data;
    var layer;
    fetch("{{ url_for('static', filename='data/光谷老校区/data.json') }}")
      .then(res => res.json())
      .then(data => {
        point_data = data;
        layer = new L7.PointLayer({})
          .source(data, {
            parser: {
              type: 'json',
              x: 'Longitude',
              y: 'Latitude'
            }
          })
          .shape('cylinder')
          .size('beautiful', function (level) {
            return [1, 2, Math.exp(level / 10)];
          })
          .color('normalized_speed', function (v) {
            return 'rgb(' + 255 + ',' + (255 - v) + ',' + (255 - v) + ')'
          })
          .style({
            opacity: 1.0
          });
        scene.addLayer(layer);
        layer.on('inited', () => {
          scene.on('mousemove', ev => {
            for (var i = 0; i < data.length; i++) {
              if (Math.abs(ev.lnglat.lat - data[i]['Latitude']) < 0.00005 && Math.abs(ev.lnglat.lng - data[i]['Longitude']) < 0.00005) {
                var new_image_name = data[i]['Time'].slice(11).replace(/:/g, '_')
                if (new_image_name !== old_image_name) {
                  old_image_name = new_image_name;
                  // console.log(new_image_name);
                  document.getElementById('street_img').src = "../static/images/" + new_image_name + ".jpg"
                  dv.source(radar_data[i]);
                  chart.source(dv, {
                    score: {
                      min: 0,
                      max: 100
                    }
                  });
                  document.getElementById('name').innerText = data[i]['Time'];
                  document.getElementById('beautiful').innerText = data[i]['beautiful'];
                  document.getElementById('boring').innerText = data[i]['boring'];
                  document.getElementById('depressing').innerText = data[i]['depressing'];
                  document.getElementById('lively').innerText = data[i]['lively'];
                  document.getElementById('safety').innerText = data[i]['safety'];
                  document.getElementById('wealthy').innerText = data[i]['wealthy'];
                }
                break;
              }
            }
          }); // 鼠标左键点击图层事件
        });
      });

  </script>

</body>

</html>